.tiptap * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
}

.tiptap p {
  margin: 0.5em 0;
}

.tiptap p p,
.tiptap ul p,
.tiptap ol p,
.tiptap table p {
  margin: 0;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.tiptap ul li,
.tiptap ol li {
  margin: 0.25em 0;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ul ul {
  list-style-type: circle;
}

.tiptap ul ul ul {
  list-style-type: square;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ol ol {
  list-style-type: lower-alpha;
}

.tiptap ol ol ol {
  list-style-type: lower-roman;
}

.tiptap strong {
  font-weight: 600;
}

.tiptap em {
  font-style: italic;
}

.tiptap u,
.tiptap ins {
  text-decoration: underline;
}

.tiptap s,
.tiptap del {
  text-decoration: line-through;
}

.tiptap mark {
  background-color: #faf594;
}

.tiptap a {
  color: #3291ff;
  text-decoration: underline;
  cursor: pointer;
}

.tiptap hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

.tiptap blockquote {
  border-left: 3px solid #ccc;
  margin: 1em 0;
  padding-left: 1em;
  color: #666;
}

.tiptap blockquote p {
  margin: 0.25em 0;
}

.tiptap h1 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1em 0 0.8em 0;
  text-wrap: pretty;
}

.tiptap h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1em 0 0.8em 0;
  text-wrap: pretty;
}

.tiptap h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1em 0 0.8em 0;
  text-wrap: pretty;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-weight: 600;
  margin: 1em 0 0.5em 0;
  text-wrap: pretty;
}

.tiptap code {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px 3px;
  font-family: monospace;
  margin: 0 3px;
}

.tiptap pre {
  margin: 1em 0;
  padding: 0;
}

.tiptap pre code {
  display: block;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
